 
.product-list {
	position: relative;
	padding: 40px 0 160px;
	
	h1 {
		margin: 0 0 40px;
	}
		
	.dropdown {
		float: right;
		margin: 12px 0 0;
		
		.dropbtn {

			img {
				width: 18px;
				display: inline-block;
			}
		}
	}
	
	.fix-menu {
		position: relative;
		
		&.side-menu-fix {
			position: fixed;
			top: 105px;
		}
	}
	
	.links {
		color: $blue;
		cursor: pointer;
	}
}

.custom-popover {
	
}