
.project-detail {
	
	.hide-menu {
		font-size: 10px;
		padding: 20px 0px;
		width: 40px;
		position: fixed;
		left: 0;
		top: 0;
		text-align: center;
		color: $white;
		background-color: $gray;
		text-transform: uppercase;
		display: inline-block;
		z-index: 100;
		cursor: pointer;
		
		&.togglemenu {
			padding: 21.5px 0px;
		}
	}
	
	@media (max-width: $breakpoint-sm) {
		display: none;
	}
	
	.project-cube-wrap {
		width: 100%;
		height: 100%;
		background-color: $offwhite;
		
		@media (max-width: $breakpoint-md) {
		    min-height: 350px;
		}
	}
	
	.content-wrap {
		position: relative;
		padding: 10px;
		
		.image-wrap {
			position: relative;
			
			&:hover .overlay-hover {
				opacity: 1;
			}
			
			.overlay-text {
				position: absolute;
				left: 0;
				bottom: -1px;
				right: 0;
				padding: 17px 10px;
				@include background-opacity (white, 0.75);
				
				h4 {
					margin: 0 0 15px;
				}
				
				.address {
					font-weight: 10px;
					
					img {
						width: 9px;	
					}
				}
				
				.activity-list {
					float: right;
					margin: 8px -10px;
					
					@media (max-width: $breakpoint-xs) {
						float: left;
						margin: 12px -10px 0;
					}
					
					li {
						position: relative;
						display: inline-block;
						
						&:first-child:after {
							content: "";
							position: absolute;
							width: 1px;
							height: 18px;
							background-color: $offwhite;
						}
						
						a {
							color: $gray;
							font-weight: 600;
							padding: 2px 10px;
							
							@media (max-width: $breakpoint-xs) {
								font-size: 12px;
							}
							
							img {
								width: 15px;
								
								@media (max-width: $breakpoint-xs) {
									width: 9px;
								}
							}
						}
					}
				}
			}
			
			.overlay-hover {
				position: absolute;
				top: 10px;
				left: 10px;
				right: 10px;
				bottom: 80px;
				opacity: 0;
				@include transition(all 0.5s ease);
				@include background-opacity ($gray, 0.60);
				
				@media (max-width: $breakpoint-xs) {
					bottom: 110px;
				}
				
				p {
					position: absolute;
					top: 50%;
					left: 50%;
					@include translate (-50%, -50%);
					
					a {				
						font-weight: 600;
						color: $white;
						
						img {
							width: 16px;
							margin-right: 3px;
						}
					}
				}
			}
		}
		
		.own-details {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;
			padding-bottom: 10px;
			border-bottom: 1px solid $offwhite;
			margin: 10px 0 20px;
			
			.own-image {
				display: flex;
				flex-direction: column;
				width: 90px;
				float: left;
			}
			
			.content {
				@include calc (width, '100& - 90px');
				display: flex;
				flex-direction: column;
				float: left;
				
				.grid {
					height: 100%;
					display: grid;
					
					.m-auto {
						padding: 0 12px;
						
						.info-list {
							margin: 0 0 10px;
							
							li {
								font-size: 16px;
								color: $gray;
								display: inline-block;
								padding-right: 30px;
								position: relative;
								
								&:first-child:after {
									content: "";
									position: absolute;
									width: 1px;
									height: 18px;
									background-color: $offwhite;
									right: 13px;
									top: 0;
								}

								a {
									font-size: 14px;
									font-weight: 600;
									color: $blue;
								}
							}
						}
						
						.designation{
							color: $lightgray;
						}
					}
				}
			}
 		}
		
		.recommended-wrap {
			
			h4 {
				margin: 0 0 25px;	
			}
			
			h5 {
				margin: 0 0 8px;
			}
			
			.more {
				font-weight: 600;
			}
			
			.project-card {
				column-gap: 8px;
				
				a {
					
					.card {
						border-color: $offwhite;
						
						.card-block {
							padding: 8px 5px 10px;
							
							h4 {
								font-size: 18px;
								margin: 0 0 5px;
							}
							
							.card-text {
								font-size: 14px;
								
								span {
									margin-right: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
}

