
footer {
	background-color: $gray;
	
	.footer-top {
		padding: 150px 0 105px;		
		
		@media (max-width: $breakpoint-md) {
			padding: 100px 0 10px;
		}
		
		.image-wrap {
			
			@media (max-width: $breakpoint-md) {
				margin: 0 0 30px;
			}
		}
	}	
	
	.footer-bottom {
		min-height: 90px;
		border-top: 1px solid $white;
	}
}