
header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
    padding: 9px 0;
	@include transition(all 0.5s ease);
		
	@media (max-width: $breakpoint-md) {
		padding: 10px 0;
	}
	
	&.stick, &.white-header.stick {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
		-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
		@include background-opacity($white, 0.95);
				
		.menu-row {
			position: relative;
			
			.logo-wrap {
				
				p {
					
					a {
						color: $black;
												
						svg {
							
							.st0 {
							}
							
							.st1 {
								stroke: $black;
							}
						}
					}
				}
			}
			
			.menu-wrap {
				
				.menu-left {
					
					.menu-mobile-icon {
						top: 12px;
						
						#toggle-icon {
							
							span {
								background: $gray;
							}
						}
					}
					
					.main-navigation {
						
						.nav {
							
							.main-menu-list {
								
								li {
																		
									a {
										color: $black;
										padding: 11px 24px;
										
										@media (max-width: $breakpoint-md) {
											color: $white;
										}
									}
								}
							}
						}
					}
				}
				
				.menu-right {
					
					.button-wrap {
						
					}
				}
			}
		}
	}
	
	&.white-header {
		position: relative;
		background-color: $white;
		border-bottom: 1px solid $offwhite;
		
		.menu-row {
			
			.logo-wrap {
				
				p {
					
					a {
						color: $black;
												
						svg {
							
							.st0 {
								fill: $red;
							}
							
							.st1 {
								fill:none;
								stroke: $black;
								stroke-width:2;
								stroke-linecap:square;
								stroke-miterlimit:10;
							}
						}
					}
				}
			}
			
			.menu-wrap {
				
				.menu-left {
					
					.menu-mobile-icon {
						
						#toggle-icon {
							
							span {
								background: $gray;
							}
						}
					}
					
					.main-navigation {

						.nav {

							.main-menu-list {

								li {
									
									a {
										color: $black;
										
										@media (max-width: $breakpoint-md) {
											color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
		
	.menu-row {
		position: relative;
		
		.logo-wrap {
			float: left;
			width: 190px;
			
			@media (max-width: $breakpoint-md) {
				width: 95px;
			}
			
			p {
				padding: 3px 0;
				
				a {
					font-size: 24px;
					font-weight: 300;
					color: $white;
					
					@media (max-width: $breakpoint-md) {
						font-size: 0;
					}
					
					svg {
						width: 32px;
						display: inline-block;
						
						.st0 {
							fill: $red;
						}

						.st1 {
							fill:none;
							stroke: $white;
							stroke-width:2;
							stroke-linecap:square;
							stroke-miterlimit:10;
						}
					}
					
					img {
						width: 32px;
						display: inline-block;
						@include transition(all .25s ease);
					}
				}
			}
		}
	
		.menu-wrap {
			float: left;
			text-align: left;
			@include calc (width, '100% - 190px');
			
			@media (max-width: $breakpoint-md) {
				@include calc (width, '100% - 95px');
			}
			
			.menu-left {
				float: left;
				text-align: left;

				.menu-mobile-icon {
					display: none;

					@media (max-width: $breakpoint-md) {
						display: block;
						position: absolute;
						left: 52px;
						top: 12px;
					}

					#toggle-icon {
						width: 15px;
						height: 22px;
						position: relative;
						@include rotate(0deg);
						@include transition(all .5s ease);
						cursor: pointer;

						span {
							display: block;
							position: absolute;
							height: 1.5px;
							width: 100%;
							background: $white;
							border-radius: 1px;
							opacity: 1;
							left: 0;
							@include rotate(0deg);
							@include transition(all .25s ease);

							&:nth-child(1) {
								top: 0px;
							}

							&:nth-child(2), &:nth-child(3) {
								top: 6px;
							}

							&:nth-child(4) {
								top: 12px;
							}
						}
						
						&.open {
							
							span {

								&:nth-child(1) {
									top: 18px;
									width: 0%;
									left: 50%;
								}

								&:nth-child(2) {
									@include rotate(45deg);
								}

								&:nth-child(3) {
									@include rotate (-45deg);
								}

								&:nth-child(4) {
									top: 18px;
									width: 0%;
									left: 50%;
								}
							}
						}
					}
				}

				.main-navigation {

					.nav {

						.main-menu-list {

							li {
								float: left;			
								position: relative;
								
								@media (max-width: $breakpoint-md) {
									width: 100%;
								}
								
								a {
									font-size: 14px;
									color: $white;
									padding: 11px 24px;
									display: inline-block;
									position: relative;
									cursor: pointer;
									
									@media (max-width: $breakpoint-md) {
										color: $white;
									}
									
									&:hover:after {
										content: "";
										position: absolute;
										left: 24px;
										bottom: -10.5px;
										@include calc (width, '100% - 48px');
										height: 2px;
										background-color: $red;
									}
								}
							}
						}
					}
				}

				@media (max-width: $breakpoint-md) {

					.pushmenu {
						background-color: $black;
						text-align: center;
						width: 250px;
						height: 100%;
						top: 0;
						z-index: 1000;
						position: fixed;
						overflow-x: scroll;
						float: none !important;
						margin-top: 0 !important;
						@include transition(all 0.5s ease);
					}

					.pushmenu-left {
						left: -250px;
					}

					.pushmenu-open {
						left: 0;
					}
				}
			}

			.menu-right {
				float: right;

				.button-wrap {
					float: left;
					
					a {
						
					}
					
					.notification {
						display: inline-block;
						float: left;
						
						a {
							font-weight: 600;
							color: $red;
							text-align: center;
							display: inline-block;
							margin-right: 20px;
							cursor: pointer;

							img {
								width: 16px;
							}
						}
					}
					
					.profile {
						display: inline-block;
						
						a {
							font-weight: 600;
							color: $blue;
							display: inline-block;
							cursor: pointer;

							.image-wrap {
								width: 35px;
								height: 35px;
								border-radius: 18px;
								overflow: hidden;
								display: inline-block;
								margin-right: 10px;
								float: left;

								img {
									width: 35px;
								}							
							}
							
							.name {
								margin: 9px 0 0;
								display: inline-block;
								float: left
							}
						}
					}
				}
			}
		}
	}
}


.pushmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
	@include transition(all 0.5s ease);
	
	&.pushmenu-push-toright {
		left: 250px;
		@include transition(all 0.5s ease);
		
		header {
			
			&.stick {
				
				.menu-row {
					
					.menu-wrap {

						.menu-left {
				
							
						}
					}
				}
			}
		}
	}
}

.pushmenu-push.pushmenu-push-toright {
	
	header {
		
		.menu-mobile-icon {
			
			@media (max-width: $breakpoint-xs) {
				left: 40px !important;
			}
		}
	}
}

