/* Scss Document */

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

*:focus {
    outline: none
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(8,62,100,0.70)
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(8,62,100,0.70)
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(8,62,100,0.70)
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(8,62,100,0.70)
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
	font-family: $opensans;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: $black;
	background-color: $white;
}

.wrapper {
	margin: 0;
	padding: 0;
	overflow: hidden
}


a, button {
	color: $blue;
	text-decoration: none;
	@include transition(all 0.3s ease-in-out);
}

a {
	&:hover {
		color: $blue;
		text-decoration: none !important;
	}
}

.equal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.equal > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.text-center-verticle {
    display: flex;
    align-items: center;
    align-content: center;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.background-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.container {
	
	@media (min-width: 1340px) {
		max-width: 1310px;
	}
	
	@media (max-width: $breakpoint-sm) {
		max-width: 100%;
		padding: 0 10px;
	}
}

