/* Scss Document */


// Media quaries breakpoints.
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1399px;


// Asset Path 
$assetPath : "../images";

/* Font Family */
$opensans: 'Open Sans', sans-serif;

/* Colors  */
$white: #ffffff;
$offwhite: #eeeeee;
$lightgray: #aaaaaa;
$darkgray: #cccccc;
$gray: #444444;
$black: #151515;
$blue: #519EF3;
$red: #F3516B;
$yellow: #E4F351;
$error: #D0021B;
$google: #db4437;
$facebook: #3b5998;
$linkedin: #0077b5;
$autodesk: #0696d7;
$green: #7DBBA5;
$brown: #D2732B;
