
button {
	
	&:focus {
		outline: 0;
	}
}

.white-button {
	display: inline-block;
	padding: 10px 19px;
	color: $white;
	background-color: transparent;
	border: 1px solid $white;
	border-radius: 5px;
	
	&:hover {
		background-color: $white;
		border-color: $white;
		color: $black;
	}
}

.blue-button {
	display: inline-block;
	padding: 10px 19px;
	color: $blue;
	background-color: transparent;
	border: 1px solid $blue;
	border-radius: 5px;
	
	&:hover {
		background-color: $blue;
		color: $white;
	}
}

.blue-bg-button {
	display: inline-block;
	padding: 10px 19px;
	color: $white;
	background-color: $blue;
	border: 1px solid $blue;
	border-radius: 5px;
	
	&:hover {
		background-color: $black;
		border-color: $black;
		color: $white;
	}
}