
.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3; 
	column-count: 3;
	
	@media (max-width: $breakpoint-md) {
		    -webkit-column-count: 2;
			-moz-column-count: 2; 
			column-count: 2;
		
		@media (max-width: $breakpoint-xs) {
			-webkit-column-count: 1;
			-moz-column-count: 1; 
			column-count: 1;
		}
	}
	
	// Product Card Styles Starts Here 
	
	&.product-card {
		
		a {
			overflow: hidden;
			float: left;
			width: 100%;
			
			&:hover .card {
				border-color: $offwhite;
			}
			
			.card {
				border-radius: 0;
				margin: 0 0 30px;
				border-color: $lightgray;
				
				@media (max-width: $breakpoint-xs) {
					margin: 0 0 18px;
				}
					
				&.bg-offwhite {
					background-color: $offwhite;
				}
				
				img {}

				.card-block {
					padding: 15px 10px;
					overflow: hidden;

					.card-title {
						float: left;
						margin: 0 0 10px;
						display: inline-block;
					}

					.card-price {
						float: right;
						display: inline-block;
						color: $gray;
					}

					.card-text {
						width: 100%;
						float: left;
						display: block;
						color: $lightgray;

						span {
							display: inline-block;
							margin-right: 15px;
							margin-bottom: 12px;
						}
					}

					.card-bottom-text {
						width: 100%;
						float: left;
						display: block;

						img {
							width: 18px;	
						}

						li {
							padding-right: 24px;
							float: left;
							position: relative;
							color: $gray;

							&:first-child {
								font-size: 16px;
							}

							&:first-child:after {
								content: "";
								position: absolute;
								right: 10px;
								top: 2px;
								width: 1px;
								height: 14px;
								background-color: $offwhite;
							}

							&:last-child {
								font-size: 14px;
								color: $lightgray;
							}
						}
					}
				}
			}
		}
	}
	
	// Product Card Styles Ends Here 
	
	
	// Project Card Styles Starts Here 
	
	&.project-card {
		
		a {
			overflow: hidden;
			float: left;
			width: 100%;
			
			&:hover .card {
				border-color: $lightgray;
			}
			
			.card {
				border-radius: 0;
				margin: 0 0 30px;
				border-color: $offwhite;
				position: relative;
				
				@media (max-width: $breakpoint-xs) {
					margin: 0 0 18px;
				}
					
				&.white-bg {
					
					.icon-wrap {
						background-color: $gray;

						.cube-icon {

							.cube-svg {
								fill: $white;
							}
						}
					}
				}
				
				.icon-wrap {
					width: 25px;
					height: 25px;
					background-color: $white;
					position: absolute;
					top: 0;
					right: 0;
					text-align: center;
					padding: 2px 0 0;
					
					.cube-icon {
						width: 15px;
						
						.cube-svg {
							fill: $gray;
						}
					}
				}				
				
				.image-wrap {
					
				}
				
				.cube-wrap {
					display: none;
				}

				.card-block {
					padding: 15px 10px;
					overflow: hidden;

					.card-title {
						font-weight: 600;
						margin: 0 0 15px;
					}

					.card-text {
						font-size: 16px;
						color: $gray;
						margin: 0 0 10px;
						
						&:last-child {
							margin: 0;
						}
						
						span {
							color: $lightgray;
							margin-right: 15px;
							margin-bottom: 12px;
						}
					}
				}
			}
		}
	}
	
	// Project Card Styles Ends Here 
	
}