
.custom-control {
	min-height: 19px;
	margin: 0 0 15px;
	
	.custom-control-input {
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	
	.custom-control-label {
		padding-left: 6px;
		
		&:before {
			width: 19px;
			height: 19px;
			top: 0;
			border-color: $gray;
			border-radius: 5px;
		}
		
		&:after {
			width: 12px;
		    height: 9px;
			top: 5px;
			left: -20px;
			background-image: url(#{$assetPath}/icon/check.png) !important;
			background-size: contain;
		}
	}
	
	.custom-control-input:checked ~ .custom-control-label::before {
		background-color: $gray;
		border-color: $gray;
	}
	
	.custom-control-input:focus ~ .custom-control-label::before {
		box-shadow: none;
	}
}

.form-group {
	position: relative;
	
	.palceholder-two {
		position: absolute;
		top: 11px;
		left: 10px;
		font-style: italic;
		color: $lightgray;
		display: none;
	}
	
	.select-style {
		width: 100%;

		&:after {
			content: "";
			position: absolute;
			width: 16px;
			height: 9px;
			background-image: url(#{$assetPath}/icon/down-arrow.svg);
			background-repeat: no-repeat;
			right: 10px;
			top: 16px;
		}

		.select-two {
			font-size: 14px;
			width: 100%;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: none;
			color: $black;
			height: 40px;
			padding: 5px 15px;
			border: 1px solid $lightgray;
			border-radius: 0px;
			
			&:focus {
				outline: 0;
				border-color: $lightgray;
				box-shadow: none;
			}
		}
	}
}

.form-group {
	
	.input-two {
		font-size: 14px;
		height: 40px;
		border-color: $lightgray;
		border-radius: 0;
	}
}

.form-group {
	
	.textarea-two {
		font-size: 14px;
		height: 80px !important;
		border-color: $lightgray;
		border-radius: 0;
	}
}


