
// Product view popup styles starts here 
.product-view {
	padding:  0 !important;
	background-color: $white;
	
	.modal-dialog {
		max-width: 100%;
		margin: 0;
		
		.modal-content {
			border: none;
			border-radius: 0;
			
			.modal-header {
				padding: 20px 20px;
				border-bottom: 1px solid $offwhite;
				position: fixed;
				z-index: 9;
				background-color: $white;
				width: 100%;
				top: 0;
				
				.control-nav {
					margin: 4px 0;
					
					.prev, .next {
						font-size: 14px;
						color: $lightgray;
						display: inline-block;
						
						&:hover {
							color: $gray;
						}
						
						img {
							margin: -1px 0 0;
							opacity: 0.5;
						}
						
						&:hover img {
							opacity: 1;
						}
					}
					
					.prev {
						margin-right: 90px;
						
						@media (max-width: $breakpoint-xs) {
							margin-right: 10px;
						}
						
						img {							
							width: 9px;
							margin-right: 5px;
						}
					}
					
					.next {
						
						img {
							width: 9px;
							margin-left: 5px;
						}
					}
				}
				
				.close {
					opacity: 0.5;
					margin: 0;
					padding: 0 17px;
					
					&:hover {
						opacity: 1;
					}						
						
					img {
						width: 24px;
					}
				}
			}
			
			.modal-body {
				margin: 70px 0 0; 
				padding: 20px;
				
				.large-view-slide {
					
					.item {
						margin: 0;
					}
				}
				
				.small-view {
					
					.slick-track {
						margin: 20px -5px 0;
						
						.item {
							margin: 0 5px;
							position: relative;
							
							&.slick-current {
								
								&:after {
									content: "";
									position: absolute;
									left: 0;
									top: 0;
									right: 0;
									bottom: 0;
									@include background-opacity ($red, 0.69);
								}
							}
						}
					}
				}
				
				.content-wrap {
					padding: 0 20px 0 70px;
					
					@media (max-width: $breakpoint-lg) {
						padding: 0 20px;
						
						@media (max-width: $breakpoint-md) {
							padding: 0;
							margin: 30px 0 0;
						}
					}
					
					h4 {}
					
					.option-list {
						float: right;
						margin: 0 -5px;
						
						@media (max-width: $breakpoint-xs) {
							float: left;
							margin: 10px -5px 15px;
						}
						
						li {
							position: relative;
							display: inline-block;
							
							&:first-child:after {
								content: "";
								position: absolute;
								width: 1px;
								height: 22px;
								background-color: $offwhite;
							    top: 0;
							    right: 0;
							}
							
							a {
								color: $gray;
								padding: 0 10px;
								display: inline-block;
								
								@media (max-width: $breakpoint-xs) {
									font-size: 12px;
								}
								
								img {
									width: 16px;
									margin-right: 5px;
									
									@media (max-width: $breakpoint-xs) {
										width: 12px;
									}
								}
							}
						}
					}
					
					.tag-list {
						margin: 0 0 15px;
						
						&.off-white {
							margin: 0;
							
							li {
								color: $black;
							}
						}
						
						li {
							display: inline-block;
							color: $lightgray;
							margin-right: 20px;
						}
					}
					
					.quality-wrap {
						display: inline-block;
						float: left;
						margin: 20px 20px 25px 0;
						
						@media (max-width: $breakpoint-sm) {
							margin: 20px 20px 10px 0;
						}
												
						.image-quality-wrap {
							float: left;
							
							img {
								width: 34px;
							}
						}
						
						.content-quality-wrap {
							float: left;
							padding: 0 0 0 10px;
							
							p {
								font-size: 12px;
								
								&.text-green {
									color: $green;
								}
								
								&.text-brown {
									color: $brown;
								}
							}
						}
					}
					
					.other-list {
						
						li {
							position: relative;
							display: inline-block;
							color: $gray;
							margin-right: 20px;
							display: inline-block;

							&:first-child:after {
								content: "";
								position: absolute;
								width: 1px;
								height: 22px;
								background-color: $offwhite;
								top: 0;
								right: -10px;
							}
							
							&:last-child {
								color: $blue;
							}
							
							img {
								width: 16px;
								margin: -2px 0 0 0px;
							}
						}
					}
					
					.price {
						font-weight: 600;
						text-align: right;
						margin: 0 0 25px;
						
						@media (max-width: $breakpoint-xs) {
							text-align: left;
							margin: 10px 0 25px;
						}
					}
					
					.product-desc {
						color: $black;
						
						.morecontent {
							
							span {
								display: none;
							}
							
							.morelink {
								display: block;
								margin: 15px 0 0;
							}
						}
					}
					
					.sub-head {
						color: $lightgray;
						margin: 15px 0 10px;
					}
					
					.form-wrap {
						border: 3px solid $offwhite;
						padding: 15px 10px;
						margin: 30px 0;
						
						h5 {
							margin: 0 0 10px;
						}
					}
					
					.download-wrap {
						background-color: $offwhite;
						padding: 20px;
						
						@media (max-width: $breakpoint-xs) {
							padding: 20px 10px;
						}
						
						p {
							color: $lightgray;
							display: inline-block;
							position: relative;
							padding-right: 45px;
							
							@media (max-width: $breakpoint-xs) {
								padding-right: 20px;
							}
							
							&:after {
								content: "";
								position: absolute;
								width: 1px;
								height: 16px;
								background-color: $white;
								right: 20px;
								top: 0;
								
								@media (max-width: $breakpoint-xs) {
									right: 5px;
								}
							}
						}
						
						h5 {
							display: inline-block;
							margin-right: 20px;
							
							a {
								font-size: 14px;
								font-weight: 600;
								
								@media (max-width: $breakpoint-xs) {
									font-size: 12px;
								}
								
								img {
									width: 16px;
									
									@media (max-width: $breakpoint-xs) {
										width: 12px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// Product view popup styles ends here 

// Image gallery popup styles starts here 
.image-gallery {
	padding:  0 !important;
	
	.modal-dialog {
		max-width: 58%;
		
		@media (max-width: $breakpoint-sm) {
			max-width: 100%;
		}
		
		.modal-content {
			border: none;
			background-color: transparent;
			border-radius: 0;
							
			.close {
				opacity: 1;
				margin: 0;
				padding: 0;
				position: absolute;
				right: -65px;
				top: 0;
				
				@media (max-width: $breakpoint-sm) {
					right: 0;
					top: -40px;
				}

				&:hover {
					opacity: 1;
				}						

				img {
					width: 24px;
				}
			}
			
			
			.modal-body {
				margin: 0; 
				padding: 0;
				
				.large-view-slide {
					
					.item {
						margin: 0;
					}
				}
				
				.small-view {
					
					.slick-track {
						margin: 20px -5px 0;
						
						.item {
							margin: 0 5px;
							position: relative;
							
							&.slick-current {
								
								&:after {
									content: "";
									position: absolute;
									left: 0;
									top: 0;
									right: 0;
									bottom: 0;
									@include background-opacity ($red, 0.69);
								}
							}
						}
					}
				}
			}
		}
	}
}
// Image gallery popup styles Ends here 


// Contact me styles starts here 
.contact-me {
	
	.modal-dialog {
		
		.modal-content {
			border-radius: 0;
			
			.modal-header {
				border-color: $offwhite;
				
				h2 {}
				
				.close {
					
					img {
						width: 25px;
					}
				}
			}
			
			.modal-body {
				padding: 20px 20px 0;
				
				.form-group {
					margin: 0 0 20px;
					
					.input-two {}
					
					.textarea-two {
						height: 210px !important;
					}
				}
			}
			
			.modal-footer {
				display: block;
				align-items: inherit;
				justify-content: inherit;
				padding: 1rem;
				border-color: $offwhite;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				
				button {
					width: 100px;
				}
			}
		}
	}
}
// Contact me styles ends here 

// Sign In With Social Media Styles Starts Here 

.sign-in {
	
	.modal-dialog {
		
		.modal-content {
			border-radius: 0;
			
			.modal-header {
				border-color: $offwhite;
				
				h2 {
					
					svg {
						display: none;
					    width: 30px;
					    margin-right: 3px;
						
						@media (max-width: $breakpoint-sm) {
							display: inline-block;
						}
						
						.st0 {
							fill: $red;
						}

						.st1 {
							fill:none;
							stroke: $black;
							stroke-width:2;
							stroke-linecap:square;
							stroke-miterlimit:10;
						}
					}
				}
				
				.close {
					
					img {
						width: 25px;
					}
				}
			}
			
			.modal-body {
				padding: 30px;
				
				@media (max-width: $breakpoint-sm) {
					padding: 30px 12px;
				}
				
				.social-list {
					max-width: 300px;
					margin: 0 auto;
					
					li {
						width: 100%;
						display: block;
						
						&:not(:last-child) {
							margin: 0 0 20px;
						}
						
						&:nth-child(1) a {
							background-color: $google
						}
						
						&:nth-child(2) a {
							background-color: $facebook;
						}
						
						&:nth-child(3) a {
							background-color: $linkedin;
						}
						
						&:nth-child(4) a {
							background-color: $autodesk;
						}
						
						a {
							font-weight: 600;
							color: $white;
							padding: 11px 10px;
    						border-radius: 5px;
							display: block;
							
							@media (max-width: $breakpoint-sm) {
								padding: 8px 10px;
							}
							
							span {
								width: 25px;
								display: inline-block;
								text-align: center;
								margin-right: 15px;
								
								img {
									height: 24px;
								}
							}
						}
					}
				}
				
				.form-wrap {
					max-width: 300px;
					margin: 0 auto;
					
					.form-group {
						
						&:not(:last-child) {
							margin: 0 0 20px;
						}
					}
				}
			}
			
			.modal-footer {
				display: block;
				align-items: inherit;
				justify-content: inherit;
				text-align: center;
				padding: 30px;
				border-color: $offwhite;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				
				@media (max-width: $breakpoint-sm) {
					padding: 30px 10px;
				}
				
				h6 {
					margin: 0 0 25px;
					
					a {
						font-size: 14px;
						font-weight: 600
					}					
				}
				
				p {
					
					a {
						font-weight: 600;
					}
				}
			}
		}
	}
	
	&.without-social-media {
		
		.modal-footer {

			h6 {
				margin: 0 !important;
				
				img {
					width: 9px;
				    margin: -2px 3px 0 0;
				}
			}
		}
	}
}


// Sign In and Sign UP Styles Starts Here 