
.popover {
	border-color: $gray;
    border-radius: 0;
	width: 480px;
	max-width: 480px;
	
	.popover-body {
	    overflow: hidden;
	    padding: 0;

		.popover-content {
			padding: 20px;
			
			.custom-control {
				width: 50%;
				float: left;
			}
		}
		
		.popover-footer {
			width: 100%;
			float: left;
			padding: 15px 20px;
			border-top: 1px solid $lightgray;
			margin: 10px 0 0;
			
			a {
				font-weight: 600;
			}
		}
	}
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before {
	border-right-color: $gray;
}

.bs-popover-right, .bs-popover-auto[x-placement^="right"] {
    margin-left: 22px;
}

.bs-popover-right .arrow, .bs-popover-auto[x-placement^="right"] .arrow {
    width: 16px;
    height: 30px;
    margin: 0px 8px;
    left: -23px;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before, .bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
    border-width: 15px 15px 15px 0;
}
