
.file-upload-wrap {
	width: 750px;
	margin: -180px auto 0;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
	@include background-opacity ($darkgray, 0.5);
	
	@media (max-width: $breakpoint-md) {
		width: 650px;
	}
	
	.content-wrap {
		border: 2px dashed $gray;
		overflow: hidden;
		
		.icon-wrap {
			width: 100%;
			height: 90px;
			margin: 40px 0 50px;
			position: relative;
			display: block !important;
			
			&:after {
				content: "";
				position: absolute;
				width: 90px;
				height: 90px;
				background-image: url(#{$assetPath}/logo.svg);
				background-repeat: no-repeat;
				left: 50%;
				top: 0;
				margin-left: -45px;
			}
		}
		
		.content {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: wrap;

			.drag-button {
				font-size: 24px;
				font-weight: 400;
				color: $black;
				position: relative;
				background-color: transparent;
				border: none;
				width: 100%;
				margin: 0 0 15px;
				
				&:hover {
					background-color: transparent;
					color: $black;
				}
			}
			
			.drag-message {
				font-size: 18px;
				font-weight: 400;
				color: $black;
				width: 100%;
				float: left;
				margin: 0 0 25px;
			}
			
			.imageuploadify-container {
				width: 20%;
				padding: 0 10px;
				float: left;
				position: relative;
				display: flex;
				flex-direction: column;
				margin: 0 0 10px !important;
				
				.remove-button {
					position: absolute;
					width: 16px;
					height: 16px;
					top: 0;
					right: 10px;
					background-image: url(#{$assetPath}/icon/close-white.svg);
					background-repeat: no-repeat;
					border: none;
					background-color: $black;
				    background-size: 50%;
					background-position: center;
					border: none;
					z-index: 9;
					cursor: pointer;
				}
				
				.imageuploadify-details {
					position: absolute;
					opacity: 1 !important;
					left: 10px;
					top: 0;
					right: 10px;
					bottom: 0;
					@include background-opacity (white, 0.5);
					
					span {
						display: none;
						color: $red;
						
						&:first-child {
							display: block;
							position: absolute;
							top: 50%;
							left: 50%;
							@include translate(-50%, -50%);
						}
					}
				}
				
				img {
					max-width: 100%;
				}
			}
		}
	}
}